<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shadow Realm</title>

    <link rel="stylesheet" href="/public/css/index.css">
    <script src="/public/js/index.js"></script>
</head>
<body>
    <div class="container flex flex-vertical" style="height: 100%;">
        <div class="flex flex-vertical">
            <h1 class="title giant" style="margin: 0;"><%= status %> </h1>
            <div class="title"><%= reason %></div>
        </div>
        <a href="/" class="stand-out-link" style="margin: 40px; color: black">Return to home</a>
    </div>
</body>
</html>